@import './base.css';

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: normal;
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: #00bd7e;
  transition: 0.4s;
}
